<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="">
	<meta charset="UTF-8">
	<title>simdata</title>
</head>
<body>

<div id = "apptest">
	<br>
	<br>
	<br>

	<b-button variant = "outline-primary" v-clipboard:copy="clipboarddata">Copy</b-button><br>

	<p>${clipboarddata}</p>
	<b-form-file id='idffile' placeholder="Choose *.epw weather file" @input="openFile"></b-form-file><br><br>


	  <b-container >
	  <b-row  v-for="each in filtersn" :key="each.inp">
	      <b-col sm="3">
		<label :for="each.inp">Inputs ${ each.inp }:</label>
	      </b-col>

	      <b-col >
			<b-input-group size="sm" prepend="Min" >
			    <b-form-input :id="each.inp" :type="each.type" v-model="each.min"></b-form-input>
			</b-input-group>

	      </b-col>

	      <b-col >
			<b-input-group size="sm" prepend="Max" >
			    <b-form-input :id="each.inp" :type="each.type" v-model="each.max"></b-form-input>
			 </b-input-group>
	      </b-col>

	  </b-row>

	  <b-row  v-for="each in filtersl" :key="each.inp">
	      <b-col sm="3">
		<label :for="each.inp">Inputs ${ each.inp }:</label>
	      </b-col>

	      <b-col sm="9">

		    <b-select v-model="each.value" :options="each.options" multiple :select-size="2"></b-select>
	      </b-col>
	  </b-row>

	<br>
	<br>
	<br>

	  <b-row >
	      <b-col sm="9">
		      <label>Input equip min value: ${filtersn[0].min}</label>
	      </b-col--!>
	  </b-row>
	  <b-row >
	      <b-col sm="9">
		      <label>Test value: ${testvalue}</label>
	      </b-col--!>
	  </b-row>

	  </b-container>

  
	<br>
	<br>

	<b-card>

	<b-button variant = "outline-primary" @click="faction">Load API Data</b-button><br><br>

	<div id = 'ch1'>[--]<br></div>

	<div id = 'boxch1'>[--]<br></div>

	<!--p>Imported data: ${simdata}</p> <br--!>
	</b-card>

	<br>
	<br>



</div>
</body>

	<link rel="shortcut icon" href="">

	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.1.2/dc.css"/>

	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-clipboards@1.2.4/dist/vue-clipboards.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

	<script src="https://unpkg.com/crossfilter2@1.4.7/crossfilter.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="http://unpkg.com/dc@3/dc.js"></script>

	<!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/c3/c3.min.css"></script>
	<script src="https://cdn.jsdelivr.net/npm/c3/c3.min.js"></script --!>

	<script type = "text/javascript" 
		 src = "{{ url_for('static', filename = 'js/simdata.js') }}" ></script>

	<script type = "text/javascript" 
		 src = "{{ url_for('static', filename = 'js/c3.min.js') }}" ></script>

	<link rel = "stylesheet" 
		 src = "{{ url_for('static', filename = 'css/c3.min.css') }}" ></script>


</html>

